/.venv/
/.idea/
/pymtech_docker.iml
/traefik/
/docker/

/*.py
/services/
/pyproject.toml
/uv.lock

# Don't need custom config
/.env

# Folders unique to each odoo instance
/config/
/cache/
/log/
/addons/
/enterprise/
